<html>
    <!DOCTYPE html>
    <head>
      <script src="app-bundle.js"></script>
      <!-- Environment component -->
      <script src="https://unpkg.com/aframe-environment-component/dist/aframe-environment-component.min.js"></script>
    </head>
    <body>
      <audio src="" preload></audio>
      <a-scene cursor="rayOrigin:mouse">
        <a-assets>
            
        </a-assets>
        <!-- Camera-->
        <a-entity>
            <a-camera
              look-controls
              position="0 6 4"
              cursor-visible="true"
              cursor-scale="2"
              cursor-color="#0095DD"
              cursor-opacity="0.5">
            </a-camera>
            <a-entity sphere-collider="objects: a-box" super-hands hand-controls="left"></a-entity>
            <a-entity sphere-collider="objects: a-box" super-hands hand-controls="right"></a-entity>
        </a-entity>
        
        <!-- Vinyl Player -->
        <a-gltf-model 
          src="../assets/vinyl-player/scene.gltf" 
          position="2.009 3.404 0" 
          scale="0.25 0.25 0.25"/>
        </a-gltf-model>
        <!-- Table -->
        <a-gltf-model 
          src="../assets/table/scene.gltf" 
          scale="0.1 0.1 0.1">
        </a-gltf-model>
        <!-- Lights -->
        <a-light type="ambient" color="#445451"></a-light>
        <a-light type="point" intensity="" position="2 4 4"></a-light>
        <!-- Environament -->
        <a-entity environment="preset: tron; dressingAmount: 500"></a-entity>
      </a-scene>
    </body>
</html>